.bilet{
    width: 120px;
    height: 40px;
    margin-top: var(--space-4x);
    border-radius: var(--space-2x);
    border: 1px solid #090979;
    background: linear-gradient(90deg, rgba(5,0,94,1) 0%, rgba(0,138,214,1) 100%);
    cursor: pointer;
    font-family: inherit;
    font-size: var(--text-md);
    letter-spacing: -0.02em;
    outline: none;
    font-weight: 500;
    color: white;
    transition: background-color 0.2s ease, color 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

.div{
    display: contents;
    height: 75px;
    border: 3px solid green;
    position: relative;

}

.link{

    display: contents;
    align-items: center;
    justify-content: center;

}

.bilet:hover{
    background: black;
    color: #0495E6;
}


.Center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}